body {
  color: $font-color;
  background: $active-color url("../src/assets/img/pigispa-bg-small.jpg")
    no-repeat fixed;
  background-position: 0 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  header {
    align-items: center;
    background-color: $bg-color;
    display: flex;
    flex-direction: row-reverse;
    height: 70px;
    justify-content: space-between;
    opacity: 0.9;
    padding: 0 $xs-size * 2;
    width: 100%;

    #logo img {
      height: auto;
      width: 100px;

      &:hover {
        opacity: 0.7;
      }
    }

    nav {
      font-size: $xs-size * 4;
      a {
        color: $font-color;
        padding: 0 $xs-size * 4;
        text-decoration: none;

        &:hover {
          color: $active-color;
        }

        &:active {
          color: $active-color;
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  body {
    background: $active-color url("../src/assets/img/pigispa-bg.jpg") no-repeat
      fixed;
    background-position: 0 -100px;
    header {
      padding: 0 $xs-size * 14;
      height: 100px;

      #logo img {
        width: 149px;
      }

      nav {
        font-size: $l-size;
      }
    }
  }
}
