.basket-box {
  display: flex;
  flex-direction: column;
  width: 425px;
  margin: 0 auto;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  top: 100px;
  text-align: center;
  height: calc(100% - 168px);
  background-color: $font-color;
  color: $input-text-color;

  h2 {
    color: $edit-color;
    font-size: 30px;
    padding-top: 45px;
    padding-bottom: 25px;
    font-weight: bold;
    margin-bottom: 0;
  }

  p {
    font-size: 25px;
  }

  #basket-content-box,
  #basket-bought-content-box {
    ol {
      width: 90%;
      margin-left: 5%;
      li {
        font-size: 18px;
        width: 100%;
        position: relative;
        line-height: 2.2;

        &:hover {
          opacity: 1;
        }

        .quant {
          color: $edit-color;
          margin-left: 3px;

          &:hover {
            opacity: 0.7;
          }
        }

        .price {
          position: absolute;
          top: 0;
          right: 40px;
          font-weight: bold;
        }

        .remove {
          display: inline-block;
          flex-direction: row;
          justify-content: flex-end;
          background: transparent url("../src/assets/img/trash-pink.png") top
            center no-repeat;
          background-size: cover;
          width: 20px;
          height: 24px;
          position: absolute;
          top: 4px;
          right: 5px;

          &:hover {
            opacity: 0.7;
          }
        }

        .term {
          color: $edit-color;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    .summary-text {
      text-transform: uppercase;
      margin-top: 60px;
      font-weight: bold;
      font-size: 20px;

      span {
        font-size: 30px;
      }
    }

    button {
      background-color: $button-color;
      color: $font-color;
      font-size: 40px;
      font-weight: bold;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      border: 0;
      padding: 20px 0;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}
