body {
  color: $font-color;
  background: $bg-color url("../src/assets/img/pigispa-bg-small.jpg") no-repeat
    fixed;
  background-position: 0 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  a:hover {
    cursor: pointer;
  }

  header {
    align-items: center;
    background-color: $bg-color;
    display: flex;
    flex-direction: column-reverse;
    height: 70px;
    justify-content: space-between;
    opacity: 0.9;
    padding: 0 $xs-size * 2;
    width: 100%;

    #logo img {
      height: auto;
      width: 100px;
      position: absolute;
      top: 10px;
      left: 10px;

      &:hover {
        opacity: 0.7;
      }
    }

    #welcome-text {
      font-size: $xs-size * 4;
      width: 40%;
      margin-left: 60%;

      span {
        font-weight: bold;
        color: $active-color;
      }
    }

    nav {
      font-size: $xs-size * 4;
      position: relative;
      top: -15px;

      ul {
        display: flex;

        li {
          list-style-type: none;

          a {
            color: $font-color;
            padding: 0 $xs-size * 4;
            text-decoration: none;

            &:hover {
              color: $active-color;
            }

            &:active {
              color: $active-color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  body {
    background: $bg-color url("../src/assets/img/pigispa-bg.jpg") no-repeat
      fixed;
    background-position: 0 -100px;

    header {
      padding: 0 $xs-size * 14;
      height: 100px;
      flex-direction: row-reverse;

      #logo img {
        width: 149px;
        position: relative;
        top: 0;
        left: 0;
      }

      nav {
        font-size: $l-size;
        top: 0;

        // Styles for user menu
        .menu-link[style="visibility: visible;"] {
          position: absolute;
          right: 50px;
        }
      }
    }
  }
}
