.basket-box {
  background-color: $font-color;
  color: $input-text-color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100% - 168px);
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 100px;
  width: 425px;

  h2 {
    color: $edit-color;
    font-size: $xs-size * 6;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: $xs-size * 5;
    padding-top: $xs-size * 9;
  }

  p {
    font-size: $xs-size * 5;
  }

  #basket-content-box,
  #basket-bought-content-box {
    ol {
      margin-left: 5%;
      width: 90%;

      li {
        font-size: $m-size;
        line-height: 2.2;
        position: relative;
        width: 100%;

        &:hover {
          opacity: 1;
        }

        .quant {
          color: $input-text-color;
          width: $xs-size * 8;
        }

        .price {
          font-weight: bold;
        }

        .remove {
          background: transparent url("../src/assets/img/trash-pink.png") top
            center no-repeat;
          background-size: cover;
          display: inline-block;
          flex-direction: row;
          height: $l-size;
          justify-content: flex-end;
          position: absolute;
          right: $xs-size;
          top: $xs-size;
          width: $xs-size * 4;

          &:hover {
            opacity: 0.7;
          }
        }

        .term {
          color: $edit-color;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    .summary-text {
      font-size: $xs-size * 4;
      font-weight: bold;
      margin-top: $xs-size * 12;
      text-transform: uppercase;

      span {
        font-size: $xs-size * 6;
      }
    }

    button {
      background-color: $button-color;
      bottom: 0;
      border: none;
      color: $font-color;
      font-size: $xs-size * 6;
      font-weight: bold;
      outline: none;
      padding: $xs-size * 4 0;
      position: absolute;
      right: 0;
      width: 100%;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}
