body {
  color: $font-color;
  width: 100vw;
  height: 100vh;
  background: $active-color url("../src/assets/img/pigispa-bg.jpg") no-repeat
    fixed;
  background-position: 0 -100px;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;

  h2 {
    font-size: $xs-size * 8;
    margin-bottom: $xs-size * 9;
    font-weight: normal;
    text-transform: uppercase;
    color: $title-color;
  }

  ol {
    font-size: $xl-size;
    padding-left: $xs-size * 5;
    text-align: left;
    line-height: 1.6;

    li:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  header {
    width: 100%;
    height: 100px;
    background-color: $bg-color;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    padding: 0 $xs-size * 14;
    align-items: center;

    #logo img {
      width: 149px;
      height: auto;

      &:hover {
        opacity: 0.7;
      }
    }

    nav {
      font-size: $l-size;
      a {
        color: $font-color;
        text-decoration: none;
        padding: 0 $xs-size * 4;

        &:hover {
          color: $active-color;
        }

        &:active {
          color: $active-color;
        }
      }
    }
  }
}
