.basket-box {
  background-color: rgba(255, 255, 255, 0.8);
  color: #666;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 70px;
  width: 100%;

  h2 {
    color: $edit-color;
    font-size: $xs-size * 6;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: $xs-size * 5;
    padding-top: $xs-size * 9;
  }

  p {
    font-size: $xs-size * 5;

    span {
      font-size: $m-size;
    }
  }

  #basket-content-box,
  #basket-bought-content-box {
    max-height: 550px;
    overflow-y: scroll;

    ol {
      margin-left: 10%;
      width: 85%;

      li {
        border-bottom: 1px dotted $edit-color;
        font-size: $m-size;
        line-height: 1.6;
        margin-top: 10px;
        padding-bottom: 10px;
        position: relative;
        width: 100%;
        text-align: left;

        &:hover {
          opacity: 1;
        }

        .title {
          font-size: $l-size;
          font-weight: bold;
        }

        .quant {
          color: $input-text-color;
          width: $xs-size * 8;
          font-size: $l-size;
          font-weight: bold;
        }

        .room-data {
          color: $edit-color;
        }

        .price {
          font-weight: bold;
        }

        .remove {
          background: transparent url("../src/assets/img/trash-pink.png") top
            center no-repeat;
          background-size: cover;
          display: inline-block;
          flex-direction: row;
          height: $l-size;
          justify-content: flex-end;
          position: absolute;
          right: $xs-size;
          top: $xs-size;
          width: $xs-size * 4;

          &:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }

        .term {
          color: $edit-color;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    .summary-text-not-display {
      display: none;
    }

    .summary-text {
      bottom: $l-size * 4;
      font-size: $l-size;
      font-weight: bold;
      left: $l-size * 5;
      position: absolute;
      text-transform: uppercase;

      span {
        font-size: $xs-size * 6;
      }
    }

    .button-not-display {
      display: none;
    }

    button {
      background-color: $button-color;
      bottom: 0;
      border: none;
      color: $font-color;
      font-size: $xs-size * 6;
      font-weight: bold;
      outline: none;
      padding: $xs-size * 4 0;
      position: absolute;
      right: 0;
      width: 100%;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .basket-box {
    background-color: $font-color;
    color: $input-text-color;
    height: calc(100% - 168px);
    top: 100px;
    width: 425px;

    .button-not-display {
      display: none;
    }
    .summary-text-not-display {
      display: none;
    }

    .summary-text {
      bottom: $l-size * 4;
      font-size: $l-size;
      font-weight: bold;
      left: $l-size * 5;
      position: absolute;
      text-transform: uppercase;

      span {
        font-size: $xs-size * 6;
      }
    }

    button {
      background-color: $button-color;
      bottom: 0;
      border: none;
      color: $font-color;
      font-size: $xs-size * 6;
      font-weight: bold;
      outline: none;
      padding: $xs-size * 4 0;
      position: absolute;
      right: 0;
      width: 100%;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}
