.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;

  input {
    border: none;
    font-size: $xs-size * 4;
    height: 47px;
    margin-bottom: $xs-size * 5;
    text-align: center;
    width: 100%;
  }

  button {
    background-color: $bg-color;
    border: none;
    color: $font-color;
    font-size: $xs-size * 4;
    padding: $xs-size * 3 0;
    width: 100%;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  /* Checking strength of password */
  .visualInfo {
    margin-bottom: 10px;
    text-shadow: $text-shadow;
  }

  .info {
    text-align: center;
    width: 100%;
  }

  span {
    display: flex;
    height: $xs-size * 4;
    width: 75px;
  }

  .weak,
  .average,
  .strong {
    background-color: $font-color;
    display: inline-block;
  }

  .legend {
    align-content: center;
    color: #fff;
    display: flex;
    font-size: 1.1em;
    font-weight: bold;
    justify-content: center;
    margin-bottom: $xs-size * 6;
  }

  .legend span {
    margin-right: $xs-size;
    width: $xs-size * 4;
  }

  .weakCol {
    background-color: #f504d5;
  }

  .averageCol {
    background-color: yellow;
    margin-left: $xs-size * 2;
  }

  .strongCol {
    background-color: greenyellow;
    margin-left: $xs-size * 2;
  }
}

@media only screen and (min-width: 800px) {
  form {
    margin: 0 auto;
    input {
      border: none;
      font-size: $xs-size * 5;
      height: 47px;
      width: 356px;
    }
    button {
      font-size: $xs-size * 6;
      padding: $xs-size * 3 0;
      width: 356px;
    }
    .legend {
      color: $bg-color;
    }
  }
}
