/* For info about not the same password */
#info-err {
  text-align: center;
  width: 85%;
  color: #f504d5;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  top: -30px;
  background-color: transparent;
  padding: 10px;
  margin: 0 auto;
}
