/* For info about not the same password */
#info-err {
  background-color: transparent;
  color: #f504d5;
  font-size: $xs-size * 4;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  text-align: center;
  top: -30px;
  width: 85%;
}
