.registration-box,
.login-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
  margin: 0 auto;
  position: absolute;
  right: 260px;
  top: 200px;
  width: 425px;
}

.registration-box h2,
.login-box h2 {
  color: $font-color;
  font-size: $xs-size * 10;
  font-weight: normal;
  margin-bottom: 65px;
  text-align: center;
  text-shadow: $text-shadow;
  text-transform: none;
}
