.treamtments-box,
.rooms-box,
.treamtment-box,
.room-box {
  display: flex;
  flex-direction: column;
  width: 600px;
  flex-wrap: wrap;
  position: absolute;
  left: $xs-size * 14;
  top: 200px;
  background-color: $bg-color;
  opacity: 0.9;
  padding: 50px 70px 70px 90px;

  p {
    font-size: $xs-size * 5;
    line-height: 1.6;
    margin-bottom: $xs-size * 8;

    span {
      font-weight: bold;
    }

    input {
      padding: $xs-size;
      font-size: $xs-size * 4;
      color: $input-text-color;
      border: none;

      margin-top: $xs-size * 2;
    }

    #room-to {
      margin-left: $s-size;
    }
  }

  button {
    background-color: $font-color;
    color: $edit-color;
    font-weight: bold;
    font-size: $xs-size * 6;
    padding: $xs-size * 4;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}
