.treatments-box,
.rooms-box {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  left: 5%;
  margin: 20px 0 0 20px;
  opacity: 0.9;
  padding: 25px;
  width: 90%;

  h2 {
    color: $title-color;
    font-size: $xs-size * 5;
    font-weight: normal;
    margin-bottom: $xs-size * 6;
    text-transform: uppercase;
  }

  ol {
    font-size: $xs-size * 4;
    line-height: 1.6;
    padding-left: $xs-size * 5;
    text-align: left;

    li:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

// @media only screen and (min-width: 550px) {
//   .treatments-box,
//   .rooms-box {
//     width: auto;
//     height: auto;
//   }
// }

@media only screen and (min-width: 1550px) {
  .treatments-box,
  .rooms-box {
    height: auto;
    left: $xs-size * 14;
    margin: 0;
    padding: $xl-size * 2;
    position: absolute;
    top: 150px;
    width: 400px;

    h2 {
      font-size: $xl-size;
      font-weight: bold;
      margin-bottom: $xs-size * 4;
    }

    ol {
      font-size: $xl-size;
    }
  }
}
