.treatments-box,
.rooms-box {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  left: 5%;
  opacity: 0.9;
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 90%;

  h2 {
    color: $title-color;
    font-size: $xs-size * 5;
    font-weight: normal;
    margin-bottom: $xs-size * 6;
    text-transform: uppercase;
  }

  ol {
    font-size: $xs-size * 4;
    line-height: 1.6;
    padding-left: $xs-size * 5;
    text-align: left;

    li:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

@media only screen and (min-width: 800px) {
  .treatments-box,
  .rooms-box {
    left: $xs-size * 14;
    padding: 50px 70px 70px 90px;
    top: 200px;
    width: 600px;

    h2 {
      font-size: $xs-size * 8;
      margin-bottom: $xs-size * 9;
    }

    ol {
      font-size: $xl-size;
    }
  }
}
