$font-color: #fff;
$input-text-color: #829294;
$edit-color: #e654f6;
$button-color: #f504d5;
$active-color: #7ff2ee;
$title-color: #baf8f6;
$bg-color: #116771;
$slogan-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
$text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
