.welcome-box-after-register {
  display: flex;
  flex-direction: column;
  width: 470px;
  justify-self: center;
  margin: 0 auto;
  flex-wrap: wrap;
  position: absolute;
  top: 350px;
  right: 220px;
  font-size: $xs-size * 8;
  text-shadow: $text-shadow;
}

.welcome-box-after-login,
.thanks-box-after-payment {
  display: flex;
  flex-direction: column;
  width: 460px;
  justify-self: center;
  margin: 0 auto;
  flex-wrap: wrap;
  position: absolute;
  top: 200px;
  left: 70px;
  text-shadow: $text-shadow;

  h2 {
    font-size: $xs-size * 10;
    margin-bottom: $xs-size * 11;
    font-weight: normal;
    text-transform: none;
    color: $font-color;
  }

  p {
    font-size: $xs-size * 7;
  }
}
