$font-color: #fff;
$input-text-color: #829294;
$edit-color: #e654f6;
$active-color: #7ff2ee;
$title-color: #baf8f6;
$bg-color: #116771;
$slogan-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
$text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $font-color;
  width: 100vw;
  height: 100vh;
  background: $active-color url("../src/assets/img/pigispa-bg.jpg") no-repeat
    fixed;
  background-position: 0 -100px;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;

  header {
    width: 100%;
    height: 100px;
    background-color: $bg-color;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    align-items: center;

    #logo img {
      width: 149px;
      height: auto;

      &:hover {
        opacity: 0.7;
      }
    }

    nav {
      font-size: 24px;
      a {
        color: $font-color;
        text-decoration: none;
        padding: 0 20px;

        &:hover {
          color: $active-color;
        }

        &:active {
          color: $active-color;
        }
      }
    }
  }

  section {
    width: 100%;

    .slogan {
      font-size: 45px;
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 150px;
      font-style: italic;
      text-shadow: $slogan-shadow;

      .pink {
        color: $edit-color;
        font-weight: bold;
      }
    }

    .registration-box,
    .login-box {
      display: flex;
      flex-direction: column;
      width: 425px;
      justify-self: center;
      margin: 0 auto;
      flex-wrap: wrap;
      position: absolute;
      top: 200px;
      right: 260px;
    }

    .registration-box h2,
    .login-box h2 {
      font-size: 50px;
      margin-bottom: 65px;
      font-weight: normal;
      text-shadow: $text-shadow;
      text-align: center;
    }

    .form {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;

      input {
        width: 356px;
        height: 47px;
        border: none;
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
      }

      button {
        width: 356px;
        height: 65px;
        color: $font-color;
        background-color: $bg-color;
        border: none;
        font-size: 30px;
      }
    }

    .welcome-box-after-register {
      display: flex;
      flex-direction: column;
      width: 470px;
      justify-self: center;
      margin: 0 auto;
      flex-wrap: wrap;
      position: absolute;
      top: 350px;
      right: 220px;
      font-size: 40px;
      text-shadow: $text-shadow;
    }

    .welcome-box-after-login {
      display: flex;
      flex-direction: column;
      width: 460px;
      justify-self: center;
      margin: 0 auto;
      flex-wrap: wrap;
      position: absolute;
      top: 200px;
      left: 70px;
      text-shadow: $text-shadow;

      h2 {
        font-size: 50px;
        margin-bottom: 55px;
        font-weight: normal;
      }

      p {
        font-size: 40px;
      }
    }

    .basket-box {
      display: flex;
      flex-direction: column;
      width: 425px;
      margin: 0 auto;
      flex-wrap: wrap;
      position: absolute;
      right: 0;
      top: 100px;
      text-align: center;
      height: calc(100% - 168px);
      background-color: $font-color;

      h2 {
        color: $edit-color;
        font-size: 30px;
        padding-top: 45px;
        padding-bottom: 25px;
        font-weight: bold;
        margin-bottom: 0;
      }

      p {
        color: $input-text-color;
        font-size: 25px;
      }
    }

    .treamtments-box {
      display: flex;
      flex-direction: column;
      width: 600px;
      flex-wrap: wrap;
      position: absolute;
      left: 70px;
      top: 200px;
      background-color: $bg-color;
      opacity: 0.9;
      padding: 50px 70px 70px 90px;
    }

    h2 {
      font-size: 40px;
      margin-bottom: 45px;
      font-weight: normal;
      text-transform: uppercase;
      color: $title-color;
    }

    ol {
      font-size: 28px;
      padding-left: 25px;
      text-align: left;
      line-height: 1.6;

      li:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  footer {
    width: 100vw;
    height: 68px;
    background-color: $bg-color;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    opacity: 0.9;
    display: flex;
    padding: 0 70px;
    align-items: center;

    a img {
      width: 200px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
