$font-color: #fff;
$input-text-color: #829294;
$edit-color: #e654f6;
$active-color: #7ff2ee;
$bg-color: #116771;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $font-color;
  width: 100vw;
  height: 100vh;
  background: $active-color url("../src/assets/img/pigispa-bg.jpg") no-repeat
    fixed;
  background-position: 0 -100px;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;

  header {
    width: 100%;
    height: 120px;
    background-color: $bg-color;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    align-items: center;

    #logo img {
      width: 149px;
      height: auto;

      &:hover {
        opacity: 0.7;
      }
    }

    nav {
      font-size: 28px;
      a {
        color: $font-color;
        text-decoration: none;
        padding: 0 20px;

        &:hover {
          color: $active-color;
        }

        &:active {
          color: $active-color;
        }
      }
    }
  }

  section {
    width: 100%;

    .slogan {
      font-size: 45px;
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 150px;
      font-style: italic;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);

      .pink {
        color: $edit-color;
        font-weight: bold;
      }
    }
  }

  footer {
    width: 100vw;
    height: 68px;
    background-color: $bg-color;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    opacity: 0.9;
    display: flex;
    padding: 0 70px;
    align-items: center;

    a img {
      width: 200px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
